@page "/Ejercicio2"
@using Blazorise



<h3>Ejercicio2</h3>

<div class="card">
    <div class="card card-columns">
        <div class="card-header">
            <div class="body">
                <button @onclick="obtenerDatos" class="btn btn-success"> Cargar </button>
            </div>
        </div>
    </div>
</div>

<br />
<br />


<div class="text-center" style="" >
    <div class="card" style="width: 18rem;margin:auto;">
        <img class="card-img-top" src="@imagen" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@nombre</h5>
            
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@phone</li>
            <li class="list-group-item">@Direccion</li>
            <li class="list-group-item">@email</li>
        </ul>
    </div>
</div>




@code {

    consumir Conapi = new consumir();
    string nombre="",phone="",email="";
    string imagen="",password="",Direccion="";

    
    public void obtenerDatos()
    {
        var datos = Conapi.traerDato();
        foreach (var people in datos)
        {
            nombre = people.name.first + " "+ people.name.last;
            imagen = people.picture.large;
            phone = people.phone;
            Direccion = people.location.city+","+people.location.country;
            email = people.email;


        }
    }


}
